

title {
    font-size: x-large;
    color: azure;
}
body{
    background-color: black;

}
head{
    color: azure;
    background-color: black;
}
h1{
    font-size: x-large;
    color: azure;
}